!!! 5

%html(lang="es")

  /head
  %head
    %meta(charset="utf-8")
    %title Jaleo: Los Vengadores
    %meta(name="description" content="registro")
    %meta(name="author" content="José A. Hernández")
  
  /body
  %body
    
    /header
    %header
      
      /Navigation
      %nav
        %ul
          %li
            %a(href="#") Jaleo
          %li
            %a(href="#") Películas
          %li
            %a(href="#") Series
          %li
            %a(href="#") Explora
          %li
            %a(href="#") Iniciar sesión
    
      %hr
    
      /Main
      #main
      
        /Div: information
        .info
        
          %h1 Regístrate para empezar a ver Los Vengadores: La Era de Ultrón
          
          %p Una vez comiences a ver la película, dispones de 72<abbr title="horas">h.</abbr> para verla cuantas veces, y tantos los dispositivos como quieras.
          
          %p¿Ya estás registrado? <a href="#">Inicia tu sesión</a> ahora.</p>
          
        %hr
        
        /Div:formulario
        .form
        %form
        
          /Personal Data
          %fieldset
            %legend Datos personales
            
            %label(for="full-name") Nombre completo
            %textarea#full-name(name="full-name")
            
            %label(for="mail") Correo electrónico
            %textarea#mail(name="mail")
            
            %label(for="password") Contraseña
            %textarea#password(name="password")
 
          /Payment data
          %fieldset
            %legend Datos de pago
            
            %h2 2.95€
            
            %label(for="paypal")
              %input#paypal(type="checkbox") Paypal
            
            %label(for="credit-card")
              %input#credit-card(type="checkbox") Tarjeta de crédito
            
            .card-info
            
              %ul
                %li
                  %img(src="#" alt="visa")
                %li
                  %img(src="#" alt="mastercard")
                %li
                  %img(src="#" alt="american express")
                %li
                  %img(src="#" alt="discover")
              
              %label(for="card-number") Número de tarjeta
              %textarea#card-number(name="card-number")
              
              %label(for="expire-month") Caducidad
              %select#expire-month(name="expire-month")
                %option Mes
                %option 01
                %option 02
                %option 03
                %option 04
                %option 05
                %option 06
                %option 07
                %option 08
                %option 09
                %option 10
                %option 11
                %option 12
              
              %label(for="expire-year")
              %select#expire-year(name="expire-year")
                %option Año
                %option 2016
                %option 2017
                %option 2018
                %option 2019
                %option 2020
                %option 2021
                %option 2022
                %option 2023
                %option 2024
                %option 2025
                %option 2026
                %option 2027
              
              %label(for="cvv") CVV
              %textarea#cvv(name="cvv")

          /mailing checkbox
          %fielset
          
            %label(for="mailing")
              %input#mailing(type="checkbox") Recibir correos electrónicos ocasionales con noticias y novedades de Jaleo.
          
          /submit button
          %fieldset
            
            %label(for="submit")
              %input#submit(type="submit" value="Regístrate")
          
        /Div: privacy info
        %div
          
          %p Al registrarte estás de acuerdo con nuestros <a href="#">términos de uso</a> y <a href="#">política de privacidad</a>
          %p ¿Necesitas ayuda? <a href="">Contacta con nosotros</a>.
          
      %hr
      
      /footer
      %footer
    
      %div
      
        %h2 Página
        
        %ul
          %li
            %a(href="#") Blog
          %li
            %a(href="#") Prensa
          %li
            %a(href="#") Condiciones de uso
          %li
            %a(href="#") Privacidad
          %li
            %a(href="#") Soporte
        
      %div
      
        %h2 Corporativo
        
        %ul
          %li
            %a(href="#") Nosotros
          %li
            %a(href="#") Contacto
          %li
            %a(href="#" hreflang="en") English site
          %li
            %a(href="#" hreflang="de") Deutsch website
          %li
            %a(href="#" hreflang="fr") Site français
          
      %div
        
        %h2 Síguenos
        
        %ul
          %li
            %a(href="#")
              %img(src="#" alt="Facebook") Facebook
          %li
            %a(href="#")
              %img(src="#" alt="twitter") Twitter
          %li
            %a(href="#")
              %img(src="#" alt="Pinterest") Pinterest
      
      %div
      
        %h2
          %img(src="#" LT="Logotipo de Jaleo") Jaleo
          
        %ul
          %li
            %a(href="#" rel="license") Jaleo de España S.A.
          %li
            %a(href="#") Calle del rey, 23 28080 Madrid
          %li
            %a(href="tel://0034555556585") 0034 555 55 65 85
          %li
            %a(href="mailto:info@jaleoapp.es") info@jaleoapp.es
      
      

                  
                  
        
        
          
    
      
    